body {
    background-color: #000; /* Fondo completamente negro como Netflix */
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de scroll molestas en el modo reproducción */
    background-color: #073b3a;
    font-family: 'Saira';
    
}

/* ==========================================
   CONTENEDOR FULLSCREEN (OCUPA TODA LA PANTALLA)
   ========================================== */
.player-container {
    position: fixed; /* Se fija a la pantalla sin importar el scroll */
    top: 0;
    left: 0;
    width: 100vw;    /* 100% del ancho de la ventana */
    height: 100vh;   /* 100% del alto de la ventana */
    z-index: 9999;   /* Se asegura de estar por encima de todo el catálogo */
    background-color: #000;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%; /* Eliminamos el padding-bottom % para que use el alto total */
    background-color: #000;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ==========================================
   BOTÓN VOLVER ATRÁS (FLECHA ESTILO NETFLIX)
   ========================================== */
.btn-back {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10000; /* Por encima del iframe */
    color: white;
    text-decoration: none;
    font-size: 2rem; /* Tamaño grande para la flecha */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.7;
    cursor: pointer;
}

.btn-back:hover {
    transform: scale(1.2); /* Pequeño efecto al pasar el mouse */
    opacity: 1;
}